/***** BASE STYLES *****/

body {
    font-family: 'Assistant', Arial, sans-serif;
    color: #2b2b2b;
    font-size: 18px;
}
h2 {
    font-family:  mono45-headline, monospace;
    font-size: 2rem;
    color: #3399cc;
    letter-spacing: -0.05rem;
    text-align: center;
}
h3 {
    font-family: mono45-headline, monospace;
    font-size: 1.5rem;
    text-align: center;
}
h5 {
    font-size: 1.3rem;
    text-align: left;
    font-weight: 200;
    letter-spacing: -0.07rem;
}
/*****GRID*****/
.full-width {
    width: 100%;
    height: 100%;
}
.one-third-width {
    width: 30%;
    float: left;
}
.third-height {
    float: left;
}

/*****HEADER*****/

header {
    height: 45rem;
    overflow: hidden;
}

/***navigation-bar***/
header .navigation-bar {
    width: 100%;
    height: auto;
    background: #c0c0c00f;
    position: fixed;
    box-shadow: 0.90rem 0.20rem 0.50rem #c0c0c07a;
    z-index: 1;
}
header h1 {
    font-family: 'limelight', sans-serif;
    padding: 1% 0 0 2%;
    margin: 0;
    color: #3399cc;
    letter-spacing: -0.20rem;
    font-size: 2rem;
    text-shadow: 0.10rem 0 #c0c0c0ad;
}
header h5 {
    color: #3399cc;
    margin: -0.80% 0 0.3% 0;
    padding-left: 3%;
    opacity: 80%;
    font-weight: 400;
}
nav {
    position: absolute;
    left: 65%;
    bottom: 0%;
}
nav ul li {
    display: inline-block;
    margin: 0 1rem;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #68696b;
    letter-spacing: -0.1rem;
    font-weight: 400;
}
/***end-of-navigation-bar***/

#background-image {
    position: absolute;
    top: 5%;
    z-index: -1;
    left: 15%;
}
header p {
    font-family: 'Arizonia', Arial;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 900;
    position: relative;
    left: 5%;
    top: 60%;
    text-shadow: 0.15rem 0 #c0c0c0ad;
}

/*****PORTIFOLIO*****/

#portifolio h2 {
    padding: 2% 0 5% 0;
}
#portifolio .third-height{
    margin: 0 2% 4% 4%;
}
#portifolio .image {
    width: 49%;
    float: left;
    min-width: 30rem;
}
#portifolio .description {
    width: 49%;
    padding: 1% 0 0 0;
    float: left;
    min-width: 30rem;
    margin-bottom: 2%;
}
#portifolio .image img {
    width: 80%;
    box-shadow: 0.25rem 0.35rem 0.75rem 0.35rem #7f808299;
    margin: 0 10% 2% 5%;
}
#portifolio .image.left img {
    margin: 0 5% 2% 10%;
}
#portifolio h3 {
    text-align: left;
}
#portifolio h5 {
    padding-bottom: 2%;
}
#portifolio .description p, #portifolio .description h3, #portifolio .description  h5 {
    margin: 0 10% 0 5%;
} 
#portifolio .description.left p, #portifolio .description.left h3, #portifolio .description.left h5 {
    text-align: right;
    width: 80%;
    margin: 0 5% 0 10%;
}
#portifolio .advice-page img {
    width: 83%;
}
#portifolio .advice-page p, #portifolio .advice-page h3, #portifolio .advice-page h5 {
    margin-left: 7%;   
}

/*****ABOUT*****/
#about {
    height: 100%;
    width: 100%;
    clear: both;
    border-top: solid white 0.001rem;
}
#about .full-width {
    background: #3399ccb0;
    height: 85%;
    margin: 6% auto;
    border-top: 0.05rem solid black;
    border-bottom: 0.05rem solid black;
    overflow: auto;
    width: 100%;
}
#about h2 {
    padding: 1% 0 0 0;
    color: #2b2b2b;
}
#about .one-third-width {
    width: 33%;
    height: 70%;  
    min-width: 25rem;
    margin: 3% 0;
}
#about img {
    width: 80%;
    border: 0.5rem solid white;
    border-radius: 2%;
    margin: 0 15% 10% 15%;
}
#about h3 {
    margin: 0% 10% 1% 10%;
    padding-bottom: 1%;
    font-size: 1.3rem;
    text-align: left;
}
#about p {
    font-size: 1rem;
    width: 80%;
    text-indent: 1.5rem;
    line-height: 1.5rem;
    margin: 0% 15%;
}
#about ul {
    margin: 0 15% 10%;
    list-style-type: square;
    line-height: 1.5rem;
}
#about ul li {
    font-size: 1rem;
    text-align: left;
}

/*****CONTACT*****/
#contact {
    height: 100%;
    width: 100%;
    clear: both;
}
#contact h2 {
    padding-top: 0;
}
#contact .one-third-width {
    width: 30%;
    height: 70%;
    margin: 6% 0 0 0;
    text-align: center;
    padding-left: 2.5%;
} 
#contact h3 {
    padding-bottom: 10%; 
    margin: 0 auto;
}
#contact #follow-me {
    padding-top: 40%;
    padding-bottom: 15%;
}
#contact p {
    font-size: 1rem;
    margin: 0 auto;
    width: 75%;
}
#contact ul{
    margin: 0 auto;
    padding-right: 10%;
}
#contact ul li{
    display: inline-block;
}
#contact .mail {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: -0.05rem
}
#contact .mail img {
    width: 15%;
    display: block;
    margin: 5% auto;
    padding: 5% 0% 0% 0%;
}
#contact .hidden {
    overflow: hidden;
}
#contact #pink-owl {
    width: 90%;
    height: auto;
    position: relative;
    right: -10rem;
    bottom: -4rem;
}
#contact .copyright {
    background:  #3399ccb0;
    height: 10%;
    border-top: 0.05rem solid black;
}
#contact h4 {
    font-family: 'limelight', sans-serif;
    padding: 1.5% 0 1% 0;
    margin: 0 auto;
    color:  #2b2b2b;
    letter-spacing: -0.05rem;
    font-size: 1rem;
    text-align: center;
}